.tableContainer {
    margin: 20px;
}

.scrollTableContainer {
    max-height: 400px;
    overflow: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
}

.dataTable th, .dataTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.dataTable th {
    background-color: #f4f4f4;
}
