.container {
    /* Vous pouvez ajouter une classe container à un div englobant si vous ne voulez pas styliser le body directement */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: #fff;
    margin-bottom: 40px;
}

.principalBox {
    border: 1px solid black;
    background-color: #e4c1f9;
    border-radius: 20px;
    height: auto;
    width: 1100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.titleboxAlimentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
}

.btncontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 450px;
    margin-bottom: 150px;
}

.btn_add_Alimentation {
    width: 400px;
    height: 50px;
    background: #e4c1f9;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 50px;
    /* margin-bottom: 150px; */
}

.circles {
    width: 50px;
    height: 50px;
    background-color: #e4c1f9;
    border-radius: 50%;
    border: 1px solid black;
}

.texts {
    color: black;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    padding-right: 20px;
}

.plusTexts {
    width: 50px;
    height: 50px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_add_Alimentation:hover {
    background-color: #daa8f7;
    color: white;
    cursor: pointer;
}

.TotalCO2Alimentation {
    display: flex;
    justify-content: right;
    flex-direction: column;
    right: 0;
    font-size: 20px;
    font-weight: 400;
    margin-left: 800px;
    margin-bottom: 20px;
}

.btncontinue {
    border: 1px solid black;
    background-color: #ff99c8;
    height: 48px;
    width: 170px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    padding-left: 46px;
    padding-right: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}

.btncontinue:hover {
    background-color: #ff66a3;
    cursor: pointer;
}

.alimentationtypes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    font-weight: 700;
    gap: 300px;
}

.radioboxstyles {
    width: 36px;
    height: 36px;
    background: white;
    border: 1px solid black;
    border-radius: 1px
}

.backarrowHabitude {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -600px;
}

.backarrowHabitude img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1200px) {

    .principalBox {
        width: auto;
        height: auto;
    }

    .white_box {
        width: 100%;
        margin-left: 0;
    }

    .add_mode_Alimentation {
        width: 100%;
    }

    .btn_add_Alimentation {
        width: 100%;
    }

    .texts {
        font-size: 14px;
    }

    .plusTexts {
        font-size: 25px;
    }

    .round_circle_Alimentation {
        font-size: 25px;
    }

    .circles {
        width: 40px;
        height: 40px;
    }

    .btncontainer {
        gap: 0;
    }

    .btncontinue {
        width: 100%;
        gap: 0;
    }

    .TotalCO2Alimentation {
        margin-left: 0;
    }

    ;

}